// Font Awesome

$fa-font-path: '~font-awesome/fonts';

@import '../../../node_modules/font-awesome/scss/font-awesome';

// Local

/*@font-face {
    font-family: 'code';
    src: url('../../../public/fonts/code_light-webfont.eot');
    src: url('../../../public/fonts/code_light-webfont.eot?#iefix') format('embedded-opentype'), url('../../../public/fonts/code_light-webfont.woff2') format('woff2'), url('../../../public/fonts/code_light-webfont.woff') format('woff'), url('../../../public/fonts/code_light-webfont.ttf') format('truetype'), url('../../../public/fonts/code_light-webfont.svg#code_lightregular') format('svg');
    font-weight: 200;
    font-style: normal;
}*/

// Remote

@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,300,300italic,400italic|Source+Sans+Pro:200,300,400);
