.logo {

}

.book {
    opacity:  1;
    fill:  #0088ff;
    fill-opacity: 1;
    fill-rule: evenodd;
    stroke: none;
    stroke-width: 1px;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-opacity: 1;
}
